    .row_EnderecosMenu {
        border: 1px solid black;
        float: left;
        width: 25.33%;
        margin: 2%;
        padding: 2%;
        font-size: 20px;
    }
    
    .enderecos:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .Div_adicionarEndereco {
        border: 1px solid black;
        width: 1000px;
        font-size: 20px;
        flex-direction: row;
        align-items: center;
        padding-left: 4%;
    }
    /*  inputs */
    
    .inputs_endereco {
        margin: none;
        padding: none;
        width: 50%;
        height: 4%;
        align-self: auto;
    }
    
    .input_AdicionarEndereco {
        margin-top: 15%;
    }
    
    .inputs_PROCURAR {
        position: relative;
        width: 32%;
        height: 40px;
        margin-top: -4%;
        left: 55%;
    }
    
    .estrela {
        position: absolute;
        margin-top: -14%;
        margin-left: 16%;
        border: black;
    }
    
    .endereco_final {
        display: flex;
        flex-flow: row wrap;
    }
    
    .endereco_final div {
        width: 33%;
    }
    
    .endereco_final input {
        width: 80%;
        height: 40px;
    }