:root {
    --bgImagePrimario: linear-gradient(to bottom, black, #151515);
    --corPrimaria: #faff04;
    --tamanhoCarrosel: 456px;
}

* {
    font-family: Inter;
    max-width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000065;
    transition: 0.5s;
    z-index: 1;
}


/* Informações sobre desconto e frete grátis */

header {
    background-color: #000000;
    width: 100%;
    height: fit-content;
    padding: 5px;
}

header p {
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 4px;
}

.primeiroTitulo {
    color: #d1d1d1;
}

.segundoTitulo {
    color: var(--corPrimaria);
}


/*  Div carrosel  */

.meio {
    width: 100%;
    height: var(--tamanhoCarrosel);
    position: relative;
    background-image: url(../images/background/carroselBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 25% right;
}

.sombraSobreFoto {
    background-color: rgba( 1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 0.44999998807907104);
    width: 100%;
    height: var(--tamanhoCarrosel);
    position: absolute;
    left: 0px;
    top: 0px;
}

.btnCompra {
    width: 237.02731323242188px;
    height: 64px;
    position: absolute;
    left: 29%;
    top: 325px;
}

.btnBackground {
    background-color: rgba( 233.00000131130219, 116.00000068545341, 9.000000413507223, 1);
    width: 237.02731323242188px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnTexto {
    color: rgba(255, 255, 255, 1);
    width: 174.02005004882812px;
    height: 60px;
    position: absolute;
    left: 32.003841400146484px;
    top: 4px;
    text-align: center;
    font-size: 39px;
    letter-spacing: 2;
}

.precoCombo {
    color: rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
    width: 313.95416259765625px;
    height: 34.42387390136719px;
    position: absolute;
    left: 23%;
    top: 227px;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2;
}

.tituloCarrossel {
    color: rgba(255, 255, 255, 1);
    width: 679.4757690429688px;
    height: 53.41635513305664px;
    position: absolute;
    top: 183px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2;
}

.fotoProdutos {
    width: 238px;
    height: 215px;
    position: absolute;
    left: 29%;
    top: -25px;
    background-image: url(images/highlight_item.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.esquerda {
    color: rgba(255, 255, 255, 1);
    width: 85.01973724365234px;
    height: 110.82571411132812px;
    position: absolute;
    left: 25.811079025268555px;
    top: 400px;
    text-align: left;
    font-size: 70px;
    letter-spacing: 2;
}

.direita {
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: 95.394287109375px;
    position: absolute;
    left: 96%;
    top: 400px;
    font-size: 70px;
    letter-spacing: 2;
}


/*  CAROUSEL  */

.carroselSection {
    box-shadow: 1px 3px 5px 1px #000000b0;
}

.titulo_carrousel {
    padding-top: 20%;
}

.carousel-inner img {
    width: 340px;
    height: 380px;
    zoom: 80%;
    left: 55%;
    margin-top: 8%;
    margin-left: -20%;
    position: relative;
}

.carousel-caption {
    padding-top: 10%;
    margin-top: 20%;
    margin-right: 0%;
}

.carrossel {
    width: 40%;
    height: 60%;
    position: absolute;
    left: 32%;
    margin-top: 80%;
}

.button__ {
    width: 150px;
    height: 40px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 13%;
    margin-left: 30%;
    margin-bottom: 10%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__:hover {
    transition: 1s;
    color: rgba(0, 0, 0, 0.966);
    background-color: var(--corPrimaria);
}


/* Div exibindo as categorias dos produtos. Suplementos e equipamentos. */

.categoriaDeProdutosContainer {
    margin: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoriaDeProdutos {
    position: relative;
    margin: 20px;
    width: 45vw;
    height: 220px;
    background-position: center;
    background-size: cover;
    color: white;
    border: 1px solid #00000027;
    transition: 0.5s;
    cursor: pointer;
}

.categoriaDeProdutos:nth-of-type(1) {
    background-image: url(../images/background/suplementosBg.jpg);
}

.categoriaDeProdutos:nth-of-type(2) {
    background-image: url(../images/background/equipamentosBg.jpg);
}

.categoriaDeProdutos:hover {
    border: 1px solid black;
    color: var(--corPrimaria);
}

.categoriaDeProdutos .overlay:hover {
    background-color: #0000009a;
}

.categoriaDeProdutosTitulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 1px 1px 5px #000000;
    z-index: 100;
}

.descricaoProdutosSection {
    width: 100vw;
    padding: 30px 10px;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
}

.produtoDescricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 0;
}

.produtoDescricao:nth-of-type(odd) {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 50px;
}

.produtoDescricao .descricaoTexto {
    width: 39%;
}

.descricaoTitulo {
    font-weight: bold;
    color: red;
}

.produtoDescricao img {
    width: 23%;
}

.descricaoProdutosSection h3 {
    font-weight: bold;
    margin: 30px auto 30px auto;
    text-align: center;
}


/*  Carrinho  */


/* por favor nao mexe nesse aqui pelo amor de deus */

.botao__carinho {
    color: white;
    background-color: #181818;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -350px;
    padding: 20px;
    width: 340px;
    z-index: 1001;
    transition: 0.7s;
    overflow-y: auto;
}

.botao__carinho i {
    font-size: 1.3rem;
}

.botao__carinho.carrinhoAberto {
    right: 0;
}

#fecharCarrinhoBtn {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #cecece;
    text-align: center;
    border: none;
    border-radius: 50%;
    background: none;
    transition: 0.5s;
    cursor: pointer;
}

.limparCarrinhoBtn {
    padding: 0px;
    border-radius: 40px;
    width: 80px;
    margin-bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.botao__carinho ul {
    width: 100%;
    margin-top: 30px;
    padding: 0;
}

.botao__carinho ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 15px 0;
    margin-top: 10px;
}

.botao__carinho ul li .produtoInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao__carinho ul li .produtoInfo .bottomInfo {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #cecece;
}

.botao__carinho ul li .titulo {
    font-size: 1.4rem;
    margin: 0;
    color: #cecece;
}

.botao__carinho ul li .preco {
    font-weight: bold;
}

.botao__carinho ul img {
    width: 100px;
    height: 100px;
    margin-right: 13px;
}

#apagarItemDoCarrinhoBtn {
    position: absolute;
    bottom: 5px;
    right: 7px;
    border: none;
    background: none;
    color: #cecece;
    cursor: pointer;
    transition: .5s;
}

#apagarItemDoCarrinhoBtn:hover {
    color: red;
}

@media screen and (width < 1180px) {
    /* Div com os produtos em promoção */
    .produtosDestaqueSection {
        gap: 30px;
    }
    .produtoDestaque {
        width: 90%;
        justify-content: space-around;
    }
    .produtoDestaque .produto {
        width: 100%;
    }
    .produtoDestaque:nth-of-type(even) .produto {
        flex-direction: row-reverse;
    }
    .maisVendidos .baner {
        height: auto;
    }
    .listaDeProdutos {
        grid-template-areas: "produto1 produto2" "produto3 produto4";
        gap: 30px 0;
    }
    /* Descrição do whey protein div */
    .produtoDescricao .descricaoTexto {
        width: max-content;
    }
    .produtoDescricao img {
        width: 45%;
    }
}

@media screen and (width < 760px) {
    .categoriaDeProdutos {
        width: 90vw;
        margin-top: 5px;
    }
    /* Div com os produtos em promoção */
    .produtoDestaque img {
        width: 180px;
        height: 230px;
    }
    /* Section com os prosutos mais vendidos */
    .maisVendidos {
        flex-direction: column;
    }
    .maisVendidos:nth-of-type(even) {
        flex-direction: column-reverse;
    }
    .maisVendidos .baner {
        width: auto;
        height: 300px;
    }
    .cardProduto img {
        width: 120px;
        max-height: 150px;
    }
}

@media screen and (width < 630px) {
    header p {
        font-size: 13px;
    }
    .botao__carinho {
        width: 240px;
        border-left: 2px solid var(--corPrimaria);
    }
    /* Div com os produtos em promoção */
    .produtosDestaqueSection {
        padding: 10px;
        gap: 20px;
    }
    .produtoDestaque {
        width: 100%;
    }
    .produtoDestaque img {
        width: 150px;
        height: 200px;
    }
    /* Descrição do whey protein div */
    .produtoDescricao {
        margin: 0 0 30px 0 !important;
        flex-direction: column-reverse !important;
        justify-content: center;
    }
    .produtoDescricao .descricaoTexto {
        width: 90%;
    }
    .produtoDescricao img {
        width: 45%;
        margin-bottom: 15px;
    }
    footer .cadastroEmail {
        flex-direction: column;
    }
    .cadastroEmail p {
        margin-bottom: 15px;
    }
}

@media screen and (width < 460px) {
    
    .listaDeProdutos {
        gap: 0;
    }
    .cardProduto {
        width: auto;
        height: auto;
        padding: 5px 2px;
        margin: 0px;
        border-radius: 0;
        box-shadow: none;
    }
    .produto1,
    .produto2 {
        border-bottom: 2px solid #80808069;
    }
    .produto1,
    .produto3 {
        border-right: 1px solid #80808069;
    }
    .produto2,
    .produto4 {
        border-left: 1px solid #80808069;
    }
    /* Descrição do whey protein div */
    .produtoDescricao {
        margin: 0 0 30px 0 !important;
        flex-direction: column-reverse !important;
        justify-content: center;
    }
    .produtoDescricao .descricaoTexto {
        width: 90%!important;
    }
    .produtoDescricao img {
        width: 90%!important;
        margin-bottom: 25px;
    }
}

.dashboard {
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
}

.produtoefeito {
    animation: 1s produtouau infinite;
    opacity: 1;
}

@keyframes produtouau {
    00% {
        opacity: 0;
        zoom: 10%;
    }
    10% {
        opacity: 0.1;
        zoom: 20%;
    }
    20% {
        opacity: 0.2;
        zoom: 30%;
    }
    30% {
        opacity: 0.3;
        zoom: 40%;
    }
    40% {
        opacity: 0.4;
        zoom: 50%;
    }
    50% {
        opacity: 0.5;
        zoom: 60%;
    }
    60% {
        opacity: 0.6;
        zoom: 70%;
    }
    70% {
        opacity: 0.7;
        zoom: 80%;
    }
    80% {
        opacity: 0.8;
        zoom: 90%;
    }
    90% {
        opacity: 0.9;
        zoom: 100%;
    }
    100% {
        opacity: 1;
    }
}

.total2 {
    margin-top: 30%;
}

#formFiltro {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#formFiltro input {
    padding: 4px 8px;
    background-color: white;
    color: black;
    margin: 10px 5px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}

.butonn_produtos_id {
    margin-top: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 5px;
}

.thumbnail {
    width: fit-content;
    margin: 0;
}

.div_produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 350px;
}

.Div_produtos_vitrine {
    margin-bottom: 55%;
}

.butonn_produtos_id {}

.div_produto img {
    display: block;
    margin: auto;
}

.div_produto button {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #f8fffa;
    color: #d404d4;
    font-size: 1.1rem;
    cursor: pointer;
    border: 2px solid #d404d4;
    transition: .5s;
}

.div_produto button:hover {
    background-color: #d404d4;
    color: #f8fffa;
}

.Imagem_produtos_exibidos {
    display: block;
    width: 160px;
    height: 180px;
}

.adicionou {
    height: 70px;
    width: 150px;
    color: aliceblue;
    background-color: rgb(166, 111, 218);
    position: fixed;
    border: 1px solid black;
    overflow: visible;
    display: block;
    font-size: 20px;
    border-radius: 10%;
    opacity: 0;
    align-items: center;
    text-align: center;
    padding: .5%;
}

.sumiu {
    opacity: .8;
    animation: 2s AdicionouSumiu;
}

@keyframes AdicionouSumiu {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.carrinhoItem button {
    position: static;
}

.alterarMais {
    position: static;
}

.button_id {
    margin-left: 50%;
    width: 60%;
}

.texto_carrousel,
.titulo_carrousel {
    position: relative;
    left: 140%;
}

.menuItem {
    right: 22%;
    position: absolute;
}