:root {
  --bgImagePrimario: linear-gradient(to bottom, black, #151515);
  --corPrimaria: #faff04;
}

* {
  font-family: Inter;
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}



/* Carrinho */

.botao__carinho {
  color: white;
  background-color: #181818;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -385px;
  padding: 20px;
  width: 340px;
  z-index: 1001;
  transition: 0.7s;
}

/* Section */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #00000065;
  transition: 0.5s;
  z-index: 1;
}

.quemSomos {
  position: relative;
  width: 100vw;
  height: 35vh;

  background-image: url(../images/background/sobreBg.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px 1px black;
}

.quemSomos > .titulo {
  position: absolute;
  top: 35%;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
  z-index: 100;
}

.textoContainer {
  padding: 50px;
}

.textoContainer h2 {
  font-size: 1.4rem;
  color: #e6482c;
  font-weight: bold;
}

.textoContainer h3 {
  text-decoration: underline;
}

.textoContainer p {
  text-indent: 15px;
  font-size: 1.05rem;
}

/*  Footer  */
footer .cadastroEmail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}
.creditos h5 {
  font-size: 1.2rem;
  margin: 15px 0;
}

@media screen and (width < 630px) {
  header p {
    font-size: 13px;
  }

  .botao__carinho {
    width: 240px;
    border-left: 2px solid var(--corPrimaria);
  }

  .cadastroEmail p {
    margin-bottom: 15px;
  }
}

@media screen and (width < 460px) {
  .quemSomos {
    height: 25vh;
  }

}
