.cabecalho {
    position: relative;
    width: 100vw;
    height: 35vh;
  
    
    background-image: linear-gradient(to bottom, #cecece, #c9c9c9, #dadada);
  
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.397);
}
.cabecalho img{
    display: block;
    margin: auto;
    height: 35vh;
    z-index: 10;
}
  
.cabecalho > .titulo {
    position: absolute;
    top: 35%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 5px #000000;
    z-index: 100;
}




#formFiltro{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#formFiltro input{
    padding: 4px 8px;
    background-color: white;
    color: black;
    margin: 10px 5px;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}




.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 5px;
}

.thumbnail{
    width: fit-content;
    margin: 0;
}
.div_produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 350px;
    
}

.div_produto img{
    display: block;
    margin: auto;
    
}

.div_produto button{
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #f8fffa;
    color: #d404d4;
    font-size: 1.1rem;
    cursor: pointer;
    border: 2px solid #d404d4;
    transition: .5s;
}

.div_produto button:hover{
    background-color: #d404d4;
    color: #f8fffa;
}



.Imagem_produtos_exibidos {
    display: block;
    width: 160px;
    height: 180px;
}

.adicionou {
    height: 70px;
    width: 150px;
    color: aliceblue;
    background-color: rgb(166, 111, 218);
    position: fixed;
    border: 1px solid black;
    overflow: visible;
    display: block;
    font-size: 20px;
    border-radius: 10%;
    opacity: 0;
    align-items: center;
    text-align: center;
    padding: .5%;
}

.sumiu {
    opacity: .8;
    animation: 2s AdicionouSumiu;
}

@keyframes AdicionouSumiu {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}