:root {
  --bgImagePrimario: linear-gradient(to bottom, black, #151515);
  --corPrimaria: #faff04;
}

* {
  font-family: Inter;
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: #000000;
  width: 100%;
  height: fit-content;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #00000065;
  transition: 0.5s;
  z-index: 1;
}

#mc_embed_signup_scroll{
  margin: auto;
}

/* Carrinho */

.botao__carinho {
  color: white;
  background-color: #181818;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -385px;
  padding: 20px;
  width: 340px;
  z-index: 1001;
  transition: 0.7s;
}

.botao__carinho i {
  font-size: 1.3rem;
}

.botao__carinho.carrinhoAberto {
  right: 0;
}

#fecharCarrinhoBtn {
  position: absolute;
  top: 25px;
  right: 25px;

  color: #cecece;
  text-align: center;
  border: none;
  border-radius: 50%;
  background: none;
  transition: 0.5s;
  cursor: pointer;
}

.limparCarrinhoBtn {
  padding: 0px;
  border-radius: 40px;
  width: 80px;
  margin-bottom: 30px;
  transition: 0.5s;
  cursor: pointer;
}

/* Section */

section {
  height: 88%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (width < 600px) {
  

  .botao__carinho {
    width: 240px;
    border-left: 2px solid var(--corPrimaria);
  }
}


