.loginArea {
    position: relative;
    background-color: rgb(216, 216, 216);
    background-image: url(../images/background/carroselBg.jpg);
    background-position: center;
    padding: 30px 0;
}

h1 {
    margin: auto;
    text-align: center;
}

section {
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    z-index: 500;
}

.loginContainer {
    padding: 30px;
    width: fit-content;
}

.cadastroContainer {
    width: 500px;
    padding: 30px 45px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 18px;
}

form label+input {
    padding: 6px;
    border: 1px solid black;
    margin-bottom: 0;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.btnContainer>input[type="submit"] {
    padding: 3px;
    margin-top: 9px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.btnContainer>input[type="submit"]:last-of-type {
    border: none;
    background: none;
    text-decoration: underline;
    color: black;
}

.btnContainer>input[type="submit"]:first-of-type {
    background-color: #04d62e;
    border: 2px solid black;
    color: black;
}

@media screen and (width < 500px) {
    .cadastroContainer {
        padding: 25px 40px;
        width: fit-content;
    }
}

.Div_adicionarEndereco {
    margin: auto;
}

.CadastroArea {
    position: relative;
    background-color: rgb(216, 216, 216);
    background-image: url(../images/background/carroselBg.jpg);
    background-position: center;
    padding: 30px 0;
}

.CadastroContainer {
    padding: 30px;
    width: fit-content;
}

.CadastroContainer form label {
    margin-top: -20px;
}

.CadastroContainer h1 {
    margin-top: -12px;
    margin-bottom: 24px;
    padding-top: -1px;
}

.adicionarEnderecoArea {
    position: relative;
    background-color: rgb(216, 216, 216);
    background-image: url(../images/background/carroselBg.jpg);
    background-position: center;
    padding: 30px 0;
}

.adicionarEnderecoContainer {
    padding: 30px;
    width: fit-content;
    visibility: hidden;
    display: none;
}

.endereco_final {
    display: flex;
    flex-flow: row wrap;
}

.endereco_final div {
    width: 25%;
    margin-left: 4%;
}


/* formatação das caixa de endereços.*/

.row_EnderecosMenu {
    border: 1px solid black;
    width: 25%;
    margin: 2%;
    padding: 2%;
    font-size: 20px;
    flex-wrap: nowrap
}

.enderecos {
    display: flex;
    flex-wrap: wrap;
}

.EnderecoContainer {
    padding: 30px;
    width: fit-content;
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
    width: 80%;
    font-size: 20px;
    align-items: center;
    padding-left: 4%;
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    z-index: 500;
    display: none;
}

.dashboard {
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}